block value
doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    meta(name='description', content=description)
    meta(name='keywords', content=keywords)

    block addcss

  body
    block content

  block addjs