extend ./_layout

append value
  - var title= "トップページ";
  - var description= "ディスクリプション";
  - var keywords= "キーワード,キーワード2,キーワード3";

append addcss
  link(rel="stylesheet" href="css/index.css")

append addjs
  script(src="js/index.js")

//- ページのコンテンツ
block content
  #content
      .inner
        p Hello Pug!